# EditorConfig is awesome: http://EditorConfig.org
root = true

[*]
# Unix-style newlines with a newline ending every file
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
charset = utf-8

[*.{py}]
indent_size = 4

[*.{scss,css}]
indent_size = 2

# Tab indentation for Makefiles
[src/Makefile]
indent_style = tab

[*.{js,jsx,html,vue}]
indent_size = 2

[src/package.json]
indent_size = 2

[{.gitlab-ci.yml}]
indent_size = 2
