.App {
  text-align: center;
}

@keyframes animation-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .spinning {
    animation: animation-spin infinite 20s linear;
  }
}

.App-homepage {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-page {
  background-color: #f4f6fa;
  min-height: 100vh;
  height: 100vh;
  padding: 1vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

.App-main-title {
  font-size: clamp(16px, 7rem, 10vw);
}

.App-icon-hoverable {
    color: orange !important;
    border-color: white !important;
}

.App-icon-hoverable:hover, .App-icon-hoverable.active {
    color: white !important;
    background-color: orange !important;
    border-color: white !important;
}

p {
    font-size: calc(10px + 1.5vmin) !important;
}
